.list {
  margin: 0.5rem 0 0 0;
  padding: 0;
  list-style: none; /* Disable default bullets */
  color: var(--text-secondary);
}
.listItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  color: var(--accent-color, #16a34a);
  flex-shrink: 0;
  margin-top: 2px;
}

.sliderContainer {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 2rem;
}
