.section {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  scroll-margin-top: 5.5rem;
}

@media (max-width: 768px) {
  .section {
    padding: 1.5rem;
  }
}
